@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* تنسيق اللوجو والقائمة العلويّة */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    width: 120px; /* تصغير حجم اللوجو */
    height: auto;
}

#navbar {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar li {
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

/* قسم الـ Hero وصورتك الشخصية */
#hero {
    /* استبدل me.png باسم صورتك بالضبط */
    background-image: url("ana-123.jpeg"); 
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 24px;
}

#hero h2 {
    font-size: 46px;
}

#hero h1 {
    font-size: 54px;
    color: #088178;
}

#hero button {
    background-color: #088178;
    color: white;
    border: 0;
    padding: 14px 40px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 4px;
}
